
<div class="container">
  <div class="row">
    <div class="col-lg-4">
  <%= render "users/list", book_list: @book_list, user: @user %>
  <%= flash[:notice] %>



    </div>
    <div class="col-lg-8">
<table class="table table-striped">
 <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
 </tr><h1>Books</h1>

<% @book_lists.each do |book_list| %>
 <tr>
   <th><%= attachment_image_tag book_list.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></th>
   <th>
     <%= link_to book_list_path(book_list.id) do %>
     <p><%= book_list.title %></p>
     <% end %>
   </th>
   <th><%= book_list.body %></th>
  </tr>
<% end %>
</table>
 </div>
 </div>
</div>